@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f5f5f4;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0f2b46;
}

::-webkit-scrollbar-thumb {
  background: #d4a017;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b58a12;
}
